<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>grupo day</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <link href="css/styles.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
<div class="container">
  
  <div class="text-center col-lg-12">
  <br>
    <h2 style="color:#0051a4">Sistema de Gestión de Información <br>para Esquema de Pago de Nómina</h2><br><br>
    <input type="text" class="form-control" placeholder="RAZON SOCIAL">

<BR>
<div class="row">
  <div class="col-lg-6">
 
      <input type="text" class="form-control" placeholder="RFC">
    
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
   
     <input type="text" class="form-control" placeholder="NOMBRE CORTO">
  
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<BR>

    <div class="row">
  <div class="col-lg-6">
 <input type="text" class="form-control" placeholder="CÓDIGO DE CLIENTE">
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="GRUPO">
  </div><!-- /.col-lg-6 -->
    <div class="col-lg-2">
    <div class="input-group">
      
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">SELECCIONAR</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<BR>
<div class="row">
  <div class="col-lg-6">
   <input type="text" class="form-control" placeholder="COMISIÓN">
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
<select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<BR>
<div class="row">
  <div class="col-lg-6">
    <input type="text" class="form-control" placeholder="OBJETO SOCIAL">
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
   <input type="text" class="form-control" placeholder="ACT. CONSTITUTIVA">
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<BR>
REPRESENTANTE LEGAL
<BR>
<BR>
<div class="row">
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="APELLIDO PATERNO">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="APELLIDO MATERNO">
  </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="NOMBRES">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<BR>
DOMICILIO FISCAL
<BR>
<BR>
<div class="row">
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="CALLE">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="NUMERO EXTERIOR">
  </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="NUMERO INTERIOR">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<BR>
<div class="row">
  <div class="col-lg-6">
  <input type="text" class="form-control" placeholder="COLONIA">
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
   <input type="text" class="form-control" placeholder="CÓDIGO POSTAL">
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<BR>
<div class="row">
  <div class="col-lg-6">
   <input type="text" class="form-control" placeholder="MUNICIPIO">
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
  <input type="text" class="form-control" placeholder="ESTADO">
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<BR>
CONTACTO 1
<BR>
<br>
<div class="row">
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="NOMBRE">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="TELEFONO">
  </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
  <input type="text" class="form-control" placeholder="CORREO">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<BR>
CONTACTO 2
<BR>
<BR>
<div class="row">
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="NOMBRE">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="TELEFONO">
  </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
  <input type="text" class="form-control" placeholder="CORREO">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<BR>
CONTACTO 3
<BR>
<BR>
<div class="row">
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="NOMBRE">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <input type="text" class="form-control" placeholder="TELEFONO">
  </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
  <input type="text" class="form-control" placeholder="CORREO">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<BR>

  </div>
  
</div><!-- /.container -->
<!-- JS dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="js/modal.js"></script>
    <script>
        $(function() {
            Example.init({
                "selector": ".bb-alert"
            });
        });
    </script>

    <!-- bootbox code -->
    <script src="js/bootbox.js"></script>

    <!-- put all demo code in one place -->
    <script src="js/control.js"></script>
	</body>
</html>